{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'main.css' %}" />
</head>

<body>
	<header>
		<nav>
			<a style="text-decoration: none;" href="{% url 'index' %}">
				<div class="logo">NotesApp</div>
			</a>
			<div class="right">

				<a title="Create note" href="{% url 'index' %}">Create Note</a>
				<a title="Notes" href="{% url 'notes_detail' %}">Notes</a>
				<a title="Trash notes" class="TrashNotes" href="{% url 'trash_notes' %}"><i
						class="fa-regular fa-trash-can fa-xl"></i></a>
				<button id="theme-toggle" class="btn" title="Switch Theme">
					<i class="fa-solid fa-moon"></i>
				</button>
			</div>
		</nav>
	</header>

	{% block content %} {% endblock %} {% block notesdata %} {% endblock %}

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const themeToggle = document.getElementById('theme-toggle')
			const body = document.body
			const icon = themeToggle.querySelector('i')

			function setTheme(theme) {
				if (theme === 'dark') {
					body.classList.add('dark-mode')
					icon.classList.remove('fa-moon')
					icon.classList.add('fa-sun')
					localStorage.setItem('theme', 'dark')
				} else {
					body.classList.remove('dark-mode')
					icon.classList.remove('fa-sun')
					icon.classList.add('fa-moon')
					localStorage.setItem('theme', 'light')
				}
			}

			// Initialize
			const savedTheme = localStorage.getItem('theme')
			if (savedTheme) {
				setTheme(savedTheme)
			}

			themeToggle.addEventListener('click', function () {
				if (body.classList.contains('dark-mode')) {
					setTheme('light')
				} else {
					setTheme('dark')
				}
			})
		});
	</script>
</body>

</html>