{% extends 'base.html' %} {% block content %}

<div class="content">
	<h2><i class="fa-solid fa-pen-to-square"></i> Edit Note</h2>
	<form method="post">
		{% csrf_token %}

		<label for="title"> <i class="fa-solid fa-heading"></i> Sarlavha </label>
		<div class="input-box">
			<input
				type="text"
				name="title"
				id="title"
				maxlength="10"
				value="{{ form.title.value }}"
				placeholder="Sarlavha kiriting"
				required
			/>
		</div>

		<label for="content">
			<i class="fa-solid fa-align-left margin-bottom:-"></i> Matn
		</label>
		<div class="input-box textarea-box">
			<textarea
				name="content"
				id="content"
				placeholder="Note matnini yozing..."
				required
			>
{{ form.content.value }}</textarea
			>
		</div>

		<button type="submit">
			<i class="fa-solid fa-floppy-disk"></i> Saqlash
		</button>
	</form>
</div>

{% endblock %}
