{% extends 'base.html' %}

{% block content %}
<div class="content">
	<h2><i class="fa-solid fa-right-to-bracket"></i> Login</h2>

	<form method="post">
		{% csrf_token %}
		<div class="input-box">
			<label for="username"><i class="fa-solid fa-user"></i> Username</label>
			<input type="text" id="username" name="username" required>

		</div>

		<div class="input-box">
			<label for="password"><i class="fa-solid fa-lock"></i> Password</label>
			<input type="password" id="password" name="password" required>
			
		</div>

		<button type="submit">Login</button>
	</form>

	<p style="margin-top: 1rem; text-align: center;">
		Don't have an account? <a href="{% url 'create_user' %}" style="color: var(--primary-color);">Sign up</a>
	</p>
</div>
{% endblock %}