{% extends "base.html" %} {% block content %}

<div class="main-notes">
	{% for note in trash_notes %}
	<div class="note-card">
		<div class="card-header">
			<h3><i class="fa-solid fa-file-alt"></i> {{ note.title }}</h3>
			<span class="note-time">
				<i class="fa-regular fa-clock"></i>
				{{ note.created_at|date:"d M Y H:i" }}
			</span>
		</div>
		<p class="note-preview">{{ note.content|truncatechars:120 }}</p>
		<div class="card-footer">
			<a title="Ko'rish" href="{% url 'open_note' pk=note.id %}" class="btn view"><i class="fa-solid fa-eye"></i></a>

			<a title="Qayta tiklash" href="{% url 'return_note' pk=note.id %}" class="btn edit"><i
					class="fa-solid fa-arrow-rotate-left fa-lg" style="color: #33ff6dc4;"></i></a>
			<a title="O'chirish" href="{% url 'delete_note' pk=note.pk %}" class="btn delete"><i class="fa-solid fa-trash" style="color: #ff3333da;" ></i></a>
		</div>
	</div>
	{% empty %}
	<p class="empty-text">🗑 Trash bo‘sh</p>
	{% endfor %}
</div>

{% endblock %}